/**
 * General styles for SimpleFolio
 */


/**
 * Generic
 */
h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 0 0 0.1em;
}

h2 {
  color: #4682a0;
  font-size: 2em;
  font-weight: normal;
  line-height: 1em;
  margin: 0 0 0.5em;
}

h3, h4, h5, h6 {
  color: #4682a0;
  font-weight: normal;
  line-height: 1em;
  margin: 0 0 0.5em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5, h6 {
  font-size: 1.1em;
}

p {
  margin: 0 0 1em;
}

a {
  color: #5096b4;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #4682a0;
  text-decoration: none;
}

h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #000000;
}

pre, code {
  color: #000000;
  line-height: normal;
}

dl, dd {
  margin: 0;
}

blockquote {
  background: #f0f0e6 url('images/quote.png') 10px 15px no-repeat;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 0 0 1em;
  padding: 20px 20px 10px 65px;
}

/**
 * Page
 */
body {
  background: #e6e6e1 url('images/bg.png') top left repeat-x;
  color: #646464;
  font-family: 'Lucida Grande', 'Verdana', 'Bitstream Vera Sans', 'Arial', sans-serif;
  font-size: 85%;
  line-height: 1.8em;
  margin: 0;
  padding: 0;
}

#page {
  margin: 10px auto 0;
  width: 960px;
}

/**
 * Header
 */
#header {
  padding: 20px 10px 10px;
}

#logo-title {
  float: left;
  width: 50%;
}

#logo-title a {
  color: #3c3c3c;
}

#logo {
  float: left;
  padding-right: 5px;
}

#site-slogan {
  color: #4682a0;
  font-size: 1.1em;
  line-height: 1.3em;
}

#header-right {
  text-align: right;
}

#primary ul {
  float: right;
  font-size: 1.2em;
}

#primary li {
  float: left;
  padding: 0;
}

#primary a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

#primary a:hover,
#primary a.active {
  border-bottom: 1px solid #c8c8c8;
  color: #5096b4;
}

/**
 * Container
 */
#container {
  background: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 25px;
}

#content.right {
  float: left;
  margin-right: -300px;
  width: 100%;
}

#content.right #content-inner {
  padding-right: 340px;
}

#content-inner > div,
#content-inner > form {
  position: relative;
  z-index: 1;
}

/* Front */
.region.front .block {
  margin-bottom: 20px;
}

.region.front h4 {
  border-bottom: 1px solid #e3e3e3;
  font-size: 1.5em;
  margin-bottom: 15px;
  padding: 0 10px 15px;
}

#mission {
  border-bottom: 1px solid #e3e3e3;
  color: #4682a0;
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 20px;
  padding: 10px 0 30px;
  text-align: center;
}

#front.regions-2 .region {
  float: left;
  margin: 0 15px;
  width: 424px;
}

#front.regions-3 .region {
  float: left;
  width: 282px;
}

#front.regions-3 #front-middle-region {
  margin: 0 30px;
}

/* Sidebars */
#right {
  float: right;
  width: 300px;
}

#right a {
  text-decoration: none;
}

#right a:hover,
#right a.active {
  color: #000000;
}

#search-box {
  margin-bottom: 20px;
}

#search {
  background: #e6e6e1;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 5px 10px;
  width: 280px;
}

#search .form-item {
  margin: 0;
}

#search .form-item label {
  display: none;
}

#search input {
  background: none;
  border: none;
  color: #666666;
  padding: 5px;
}

#search input.form-text {
  width: 190px;
}

#search input.form-submit {
  border-left: 1px solid #c8c8c8;
  cursor: pointer;
}

#secondary {
  margin-bottom: 20px;
  font-size: 1.2em;
}

#secondary li {
  display: block;
  padding: 0 0 10px;
}

#secondary li.last {
  padding: 0;
}

/**
 * Footer
 */
#footer {
  font-size: 0.9em;
  padding: 20px;
  text-align: center;
}

#footer a {
  color: #3c3c3c;
  text-decoration: none;
}

#footer a:hover {
  color: #646464;
}

#footer-region {
  margin-bottom: 10px;
}

#primary-footer {
  float: left;
}

#primary-footer li {
  border-right: 1px solid #c8c8c8;
  float: left;
  padding: 0 10px;
}

#primary-footer li.last {
  border: none;
}

#footer-message {
  float: right;
}


/*** ----- ***/


/**
 * Blocks
 */
.sidebar .block {
  margin-bottom: 20px;
}

.sidebar .block h4 {
  border-bottom: 1px solid #e6e6e1;
  color: #646464;
  font-size: 1.5em;
  padding: 5px 10px 10px;
}

/* Search Block */
.block-search .container-inline {
  background: #e6e6e1;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 5px 10px;
  width: 280px;
}

.block-search .container-inline .form-item {
  margin: 0;
}

.block-search .container-inline .form-item label {
  display: none;
}

.block-search .container-inline input {
  background: none;
  border: none;
  color: #666666;
  padding: 5px;
}

.block-search .container-inline input.form-text {
  width: 190px;
}

.block-search .container-inline input.form-submit {
  border-left: 1px solid #c8c8c8;
  cursor: pointer;
}

/**
 * Fieldsets
 */
html.js fieldset.collapsible legend a {
  background: url('images/menu-expanded.png') 5px 50% no-repeat;
  padding-left: 20px;
}

html.js fieldset.collapsed legend a {
  background-image: url('images/menu-collapsed.png') !important;
}

/**
 * Menus/Lists
 */
ul.menu,
.item-list ul {
  padding: 0 0 0 30px;
}

ul.menu li,
.item-list ul li {
  margin: 0;
  padding: 0 0 2px;
}

ul.menu li ul,
.item-list ul li ul {
  padding-top: 2px;
}

ul.menu li ul li.last,
.item-list ul li ul li.last {
  padding-bottom: 0;
}

ul.menu li.leaf,
.item-list ul li {
  list-style-image: url('images/bullet.png');
}

ul.menu li.collapsed {
  list-style-image: url('images/bullet-collapsed.png');
}

ul.menu li.expanded {
  list-style-image: url('images/bullet-expanded.png');
}

/* Nice Menus (Header Region) */
#header-region .block-nice_menus ul.nice-menu {
  float: right;
  font-size: 1.2em;
}

#header-region .block-nice_menus ul.nice-menu li {
  background: none;
  border: 0;
  float: left;
  padding: 0;
}

#header-region .block-nice_menus ul.nice-menu li.menuparent:hover {
  background: none;
}

#header-region .block-nice_menus a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

#header-region .block-nice_menus a:hover,
#header-region .block-nice_menus a.active {
  border-bottom: 1px solid #c8c8c8;
  color: #5096b4;
}

#header-region .block-nice_menus li.menuparent a:hover {
  border: 0;
}

#header-region .block-nice_menus ul.nice-menu ul {
  background: #d2d2cf;
  border: 1px solid #bbbbb8;
  opacity: 0.85;
  filter: alpha(opacity=85);
  top: 2.3em;
}

#header-region .block-nice_menus ul.nice-menu ul li {
  font-size: 0.9em;
  text-align: left;
}

#header-region .block-nice_menus ul.nice-menu ul li a {
  color: #454545;
}

#header-region .block-nice_menus ul.nice-menu ul li a:hover {
  background: #ffffff;
}

/**
 * Messages
 */
div.messages {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 0 0 1em;
  padding: 10px 10px 10px 55px;
}

div.messages > ul {
  margin: 0.5em 0;
  padding: 0 0 0 1.5em;
}

div.messages .krumo-root {
  color: #0064ff;
}

div.messages .krumo-root a {
  color: #000000 !important;
}

div.messages.status {
  background: #c8e1ff url('images/message-status.png') 10px 50% no-repeat;
  border: 1px solid #3264c8;
}

div.messages.status,
div.messages.status a {
  color: #3264c8;
}

div.messages.warning {
  background: #ffffc8 url('images/message-warning.png') 10px 50% no-repeat;
  border: 1px solid #c86400;
}

div.messages.warning,
div.messages.warning a {
  color: #c86400;
}

div.messages.error {
  background: #ffc8c8 url('images/message-error.png') 10px 50% no-repeat;
  border: 1px solid #c80000;
}

div.messages.error,
div.messages.error a {
  color: #c80000;
}

/**
 * Nodes/Comments
 */
.node {
  margin-bottom: 2em;
}

.node .comment-count {
  background: url('images/comment.png') center center no-repeat;
  float: left;
  font-size: 0.9em;
  font-weight: bold;
  height: 34px;
  margin: 5px 1em 0 0;
  min-width: 35px;
  padding-top: 2px;
  text-align: center;
}

.node .comment-count ul li {
  padding: 0;
}

.node .comment-count a {
  color: #646464;
  text-decoration: none;
}

.node h3 {
  color: #4682a0;
  font-size: 2em;
  margin: 0 0 0.5em;
}

.node .submitted {
  font-size: 0.9em;
  margin: -1em 0 1em;
}

.node .submitted ul li {
  padding: 0;
}

.node .submitted ul li:after {
  content: ',';
}

.node .submitted ul li.last:after {
  content: none;
}

.node .meta ul.links,
.comment ul.links {
  font-size: 0.9em;
}

.node .meta ul.links li,
.comment ul.links li {
  padding: 0 1em 0 0;
}

.node .meta .terms {
  float: right;
}

.node .meta .terms ul.links li {
  padding: 0 0 0 1em;
}

/* Comments */
#comments .box {
  margin-top: 1.5em;
}

.comment {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-bottom: 1em;
  padding: 10px;
}

.comment.even {
  background: #e7f1f3;
  border: 1px solid #bbe0e8;
}

.comment span.new {
  color: #ff0000;
  float: right;
  font-size: 0.9em;
}

.comment h4 {
  color: #646464;
  font-size: 1.1em;
}

.comment h4 .author {
  color: #000000;
}

.comment .submitted {
  font-size: 0.8em;
  margin: -0.8em 0 1em;
}

/**
 * Tables
 */
table {
  background: #ffffff;
  width: 100%;
}

thead {
  border-bottom: 3px solid #b4b4b4;
}

thead th {
  border: none;
}

tbody {
  border-top: 1px solid #b4b4b4;
}

tr.odd,
tr.even {
  border-bottom: 1px solid #b4b4b4;
}

tr.odd {
  background: #ffffff;
}

tr.even {
  background: #f5f5f5;
}

tr.ok,
.update tr.ok {
  background: #c8ffc8;
}

tr.warning,
.update tr.warning {
  background: #ffffc8;
}

tr.error,
.update tr.error {
  background: #ffc8c8;
}

td, th {
  color: #000000;
  padding: 0.2em 0.4em;
}

td a,
th a {
  color: #000000;
}

/* Specific Tables */
tr.region,
td.region,
td.module {
  background-color: #b4b4b4;
  border-top: 1.5em solid #ffffff;
  border-bottom: 3px solid #b4b4b4;
  font-weight: bold;
}

tr.menu-disabled td,
table.view-disabled td {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE */
}

table.update {
  margin-bottom: 1.5em;
}

.update tr table.version,
.update tr.warning table.version {
  background: none;
}

/**
 * Tabs
 */
div.tabs {
  margin: 1em 0;
}

div.tabs ul.primary,
div.tabs ul.secondary {
  border-bottom: 1px solid #b4b4b4;
  margin: 0;
  padding: 0 0 0 5px;
}

div.tabs ul.primary li a {
  background: #e6e6e6;
  border: 1px solid #b4b4b4;
  color: #000000;
  margin: 0 5px;
  padding: 0 10px;
}

div.tabs ul.primary li a.active,
div.tabs ul.primary li a:hover {
  background: #ffffff;
}

div.tabs ul.secondary li {
  border-right: 1px solid #b4b4b4;
}

div.tabs ul.secondary a:hover {
  text-decoration: underline;
}

div.tabs ul.secondary a.active {
  border-bottom: none;
}

/**
 * Views
 */
div.view div.views-admin-links {
  width: auto;
}

#views-ui-edit-display-form a {
  color: #000000;
}
